<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Index Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../Script/angular.min.js" type="text/javascript"></script>
        <script src="../Script/angular-route.js" type="text/javascript"></script>
        <script src="../Script/angular-messages.min.js" type="text/javascript"></script>
        <script src="../Script/indexjs.js" type="text/javascript"></script>
        <script src="../Script/listViewCtrl.js" type="text/javascript"></script>
        <script src="../Script/listViewDirective.js" type="text/javascript"></script>
        <link href="../style/css/cssstyle.css" rel="stylesheet" type="text/css"/>
        <script src="../Script/bootstrap.js" type="text/javascript"></script>
        <script src="../Script/bootstrap.min.js" type="text/javascript"></script>
        <link href="../style/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../style/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    
    </head>
    <body ng-app="LogViewerApp">
        <div id="container">
            <header id="header">

            </header>

            <div id="content" align="center" ng-view>


            </div>

            <footer id="footer">

            </footer>
        </div>
    </body>
</html>
 